{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Общие</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Компании</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Компания 1</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
                <a href="#" class="btn btn-sm btn-neutral">Добавить компанию</a>
                <button id="periodButton" class="btn btn-sm btn-neutral">Выбрать период</button>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Общая выручка</h5>
                      <span class="h2 font-weight-bold mb-0">3,950,897 ₸</span>
                    </div>
                    <div class="col-auto">
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">За этот месяц</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">План продаж</h5>
                      <span class="h2 font-weight-bold mb-0">87%</span>
                    </div>
                    <div class="col-auto">
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">За этот месяц</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Остаток</h5>
                      <span class="h2 font-weight-bold mb-0">90,124,973 ₸</span>
                    </div>
                    <div class="col-auto">
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">За этот месяц</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Произв. сотрудников</h5>
                      <span class="h2 font-weight-bold mb-0">49,65%</span>
                    </div>
                    <div class="col-auto">
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">За этот месяц</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
{#                  <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>#}
                  <h5 class="h3 text-black-50 mb-0">План производства</h5>
                </div>
{#                <div class="col">#}
{#                  <ul class="nav nav-pills justify-content-end">#}
{#                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">#}
{#                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">#}
{#                        <span class="d-none d-md-block">Месяц</span>#}
{#                        <span class="d-md-none">M</span>#}
{#                      </a>#}
{#                    </li>#}
{#                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">#}
{#                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">#}
{#                        <span class="d-none d-md-block">Неделя</span>#}
{#                        <span class="d-md-none">W</span>#}
{#                      </a>#}
{#                    </li>#}
{#                  </ul>#}
{#                </div>#}
                  <div class="col text-right">
                      <button id="chartToggleButton" class="btn btn-sm btn-neutral">Сменить график</button>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
{#                <canvas id="chart-sales-dark" class="chart-canvas"></canvas>#}
                  <canvas id="chart-production" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">План продаж</h6>
                  <h5 class="h3 mb-0">Заявки</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
{#                <canvas id="chart-bars" class="chart-canvas"></canvas>#}
                  <canvas id="myPieChart" width="400" height="400"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Page visits</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Page name</th>
                    <th scope="col">Visitors</th>
                    <th scope="col">Unique users</th>
                    <th scope="col">Bounce rate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      /argon/
                    </th>
                    <td>
                      4,569
                    </td>
                    <td>
                      340
                    </td>
                    <td>
                      <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      /argon/index.html
                    </th>
                    <td>
                      3,985
                    </td>
                    <td>
                      319
                    </td>
                    <td>
                      <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      /argon/charts.html
                    </th>
                    <td>
                      3,513
                    </td>
                    <td>
                      294
                    </td>
                    <td>
                      <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      /argon/tables.html
                    </th>
                    <td>
                      2,050
                    </td>
                    <td>
                      147
                    </td>
                    <td>
                      <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      /argon/profile.html
                    </th>
                    <td>
                      1,795
                    </td>
                    <td>
                      190
                    </td>
                    <td>
                      <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Social traffic</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Referral</th>
                    <th scope="col">Visitors</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      Facebook
                    </th>
                    <td>
                      1,480
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">60%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Facebook
                    </th>
                    <td>
                      5,480
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">70%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Google
                    </th>
                    <td>
                      4,807
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">80%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Instagram
                    </th>
                    <td>
                      3,678
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">75%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      twitter
                    </th>
                    <td>
                      2,645
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">30%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

    <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>
        var ctx1 = document.getElementById('chart-production').getContext('2d');

        // Initial Data for the chart
        var data = {
            labels: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль'],
            datasets: [{
                label: 'Производство',
                data: [30, 50, 40, 60, 70, 50, 90],
                backgroundColor: 'rgba(54, 162, 235, 0.6)',
                borderColor: 'rgba(54, 162, 235, 1)',
                fill: false
            }]};

        // Create the initial line chart
        var chartType = 'line';
        var productionChart = new Chart(ctx1, {
            type: chartType,
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                }
            }});

        // Toggle Button to change chart type between line, bar, and gauge
        document.getElementById('chartToggleButton').addEventListener('click', function() {
            productionChart.destroy();
            if (chartType === 'line') {
                chartType = 'bar';
            } else if (chartType === 'bar') {
                chartType = 'gauge';
            } else {
                chartType = 'line';
            }

            if (chartType === 'gauge') {
                productionChart = new Chart(ctx1, {
                    type: 'doughnut',
                    data: {
                        labels: ['Выполнено', 'Осталось'],
                        datasets: [{
                            data: [70, 30],
                            backgroundColor: ['rgba(75, 192, 192, 0.6)', 'rgba(201, 203, 207, 0.6)'],
                            borderColor: ['rgba(75, 192, 192, 1)', 'rgba(201, 203, 207, 1)'],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            tooltip: {
                                callbacks: {
                                    label: function(context) {
                                        let label = context.label || '';
                                        if (label) {
                                            label += ': ';
                                        }
                                        label += context.raw + '%';
                                        return label;
                                    }
                                }
                            }
                        },
                        circumference: Math.PI,
                        rotation: -Math.PI,
                        cutout: '75%'
                    }
                });
            } else {
                productionChart = new Chart(ctx1, {
                    type: chartType,
                    data: data,
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                        }
                    }
                });
            }});





    var ctx1 = document.getElementById('chart-production').getContext('2d');

    // Data for the chart with two datasets: Production Plan and Actual Production
    var data = {
        labels: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль'],
        datasets: [
            {
                label: 'План производства',
                data: [40, 60, 55, 70, 80, 60, 100], // This dataset represents the production plan
                borderColor: 'rgb(164, 25, 54)',
                backgroundColor: 'rgb(164, 25, 54)',
                fill: false,
                borderWidth: 2
            },
            {
                label: 'Фактическое производство',
                data: [30, 50, 40, 60, 70, 50, 90], // This dataset represents the actual production
                borderColor: 'rgb(24,58,148)',
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                fill: false,
                borderWidth: 2
            }
        ]
    };

    // Create the initial line chart with two lines for Plan and Actual Production
    var productionChart = new Chart(ctx1, {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            return context.dataset.label + ': ' + context.raw;
                        }
                    }
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Производство'
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Месяцы'
                    }
                }
            }
        }
    });

    // Toggle Button to change chart type between line, bar, and gauge
    document.getElementById('chartToggleButton').addEventListener('click', function() {
        productionChart.destroy();
        if (chartType === 'line') {
            chartType = 'bar';
        } else if (chartType === 'bar') {
            chartType = 'gauge';
        } else {
            chartType = 'line';
        }

        if (chartType === 'gauge') {
            productionChart = new Chart(ctx1, {
                type: 'doughnut',
                data: {
                    labels: ['Выполнено', 'Осталось'],
                    datasets: [{
                        data: [70, 30],
                        backgroundColor: ['rgba(75, 192, 192, 0.6)', 'rgba(201, 203, 207, 0.6)'],
                        borderColor: ['rgba(75, 192, 192, 1)', 'rgba(201, 203, 207, 1)'],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    let label = context.label || '';
                                    if (label) {
                                        label += ': ';
                                    }
                                    label += context.raw + '%';
                                    return label;
                                }
                            }
                        }
                    },
                    circumference: Math.PI,
                    rotation: -Math.PI,
                    cutout: '75%'
                }
            });
        } else {
            productionChart = new Chart(ctx1, {
                type: chartType,
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Производство'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Месяцы'
                            }
                        }
                    }
                }
            });
        }
    });

        $(document).ready(function() {
            // Initialize date range picker
            $('#periodButton').daterangepicker({
              opens: 'left',
              locale: {
                format: 'YYYY-MM-DD',
                applyLabel: 'Применить',
                cancelLabel: 'Отмена',
                fromLabel: 'От',
                toLabel: 'До',
                customRangeLabel: 'Выбрать',
                daysOfWeek: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                firstDay: 1
              },
              startDate: moment().startOf('month'),
              endDate: moment().endOf('month')
            }, function(start, end, label) {
              console.log("Period selected: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
          });


        // Get the context of the canvas element we want to select
        var ctx2 = document.getElementById('myPieChart').getContext('2d');

        // Data for the pie chart
        var data2 = {
            labels: ['Поступившие', 'Завершенные', 'В процессе'],
            datasets: [{
                label: 'My Dataset',
                data: [15, 44, 56], // Replace these values with your actual parameters
                backgroundColor: [
                    'rgb(164,25,54)', // Color for Parameter 1
                    'rgb(24,58,148)', // Color for Parameter 2
                    'rgb(15,105,52)'  // Color for Parameter 3
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        };

        // Create the pie chart
        var myPieChart = new Chart(ctx2, {
            type: 'pie',
            data: data2,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                }
            }
        });


        $(document).ready(function() {
            // Initialize date range picker
            $('#periodButton').daterangepicker({
              opens: 'left',
              locale: {
                format: 'YYYY-MM-DD',
                applyLabel: 'Применить',
                cancelLabel: 'Отмена',
                fromLabel: 'От',
                toLabel: 'До',
                customRangeLabel: 'Выбрать',
                daysOfWeek: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                firstDay: 1
              },
              startDate: moment().startOf('month'),
              endDate: moment().endOf('month')
            }, function(start, end, label) {
              console.log("Period selected: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
              applyDateRangeToWidgets(start, end);
            });

            let chart1 = null;
            let chart2 = null;

            function applyDateRangeToWidgets(start, end) {
              const formattedStart = start.format('YYYY-MM-DD');
              const formattedEnd = end.format('YYYY-MM-DD');

              console.log("Applying date range from " + formattedStart + " to " + formattedEnd + " to all widgets.");

              if (chart1 !== null) {
                updateChartData(chart1, formattedStart, formattedEnd);
              }
              if (chart2 !== null) {
                updateChartData(chart2, formattedStart, formattedEnd);
              }
            }

            function updateChartData(chart, startDate, endDate) {
              console.log('Updating chart:', chart, 'with dates from', startDate, 'to', endDate);
              // Example: chart.data.datasets[0].data = newData;
              // chart.update();
            }
          });
    </script>

{% endblock javascripts %}